.stack-option-container {
  display: flex;
  /* justify-content:  */
  /* padding: 50px; */
}

.line-tooltip {
  position: fixed;
  display: none;
  min-height: 50px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  opacity: 0.7;
}

#form-container {
  display: flex;
  margin-top: 20px;
}

.check-label {
  margin: 10px;
}

.checkbox {
  margin: 5px;
}

#stack-group-by {
  width: 20%;
  margin: 20px;
}

.stack-option {
  margin: 20px;
  text-align: center;
  vertical-align: middle;
}
